[*.fs]
fsharp_max_if_then_short_width = 70
fsharp_blank_lines_around_nested_multiline_expressions = false

[*.fsproj]
indent_style = space
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.props]
indent_style = space
indent_size = 2